[submodule "submodules/sonLib"]
	path = submodules/sonLib
	url = https://github.com/benedictpaten/sonLib
[submodule "progressiveCactus"]
	path = progressiveCactus
	url = https://github.com/glennhickey/progressiveCactus
[submodule "jobTree"]
	path = jobTree
	url = https://github.com/benedictpaten/jobTree
[submodule "pycbio"]
	path = pycbio
	url = https://github.com/ifiddes/pycbio
